<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>To the Moon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- all css here -->
  <link data-react-helmet="true" rel="icon" href="./assets/images/icon/favicon.ico" />
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./assets/css/font-awesome.min.css" />
  <link rel="stylesheet" href="./assets/css/magnific-popup.css" />
  <link rel="stylesheet" href="./assets/css/slicknav.min.css" />
  <link rel="stylesheet" href="./assets/css/swiper.min.css" />
  <link rel="stylesheet" href="./assets/css/zoomslider.css" />
  <link rel="stylesheet" href="./assets/css/typography.css" />
  <link rel="stylesheet" href="./assets/css/default-css.css" />
  <link rel="stylesheet" href="./assets/css/styles.css" />
  <link rel="stylesheet" href="./assets/css/responsive.css" />
  <link href="./assets/css/vidbg.css" rel="stylesheet" type="text/css" />
  <!-- modernizr css -->
  <script src="./assets/js/vendor/modernizr-2.8.3.min.js"></script>
  <style>
    .mint {
      width: 200px;
      margin: 0 auto;
      display: block;
      margin-top: 50px;
    }

    .nav {
      display: flex;
      justify-content: space-between;
      padding: 10px 10px;
    }

    @media (min-width: 240px) and (max-width: 480px) {
      .header-area {
        padding-top: 0;
      }
    }

    @media (min-width: 240px) and (max-width: 480px) {
      .music-content h2 {
        font-size: 30px;
        line-height: 46px;
        line-height: 80px;
      }
    }

    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>


  <header>
    <div class="header-area">
      <div class="container">
        <div class="row align-items-center nav">
          <div>
            <div class="logo">
              <a href="https://moondao.com/" target="_blank">
                <img src="./assets/images/bg/Original_White.png" style="max-width: none" width="160" alt="logo" />
              </a>
            </div>
          </div>

          <div id="connect-app">
            <div class="btn-plain" id="btn-connect" @click="connect" v-cloak>
              {{connectText}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- header area end -->
  <!-- slider area start -->

  <div class="slider-area d-flex align-items-center" id="slider_firefly" data-zs-interval="6000" data-zs-speed="6000"
    data-zs-src='["./assets/images/slider/bg2.jpg","./assets/images/slider/bg3.jpg","./assets/images/slider/bg5.jpg"]'>
    <div class="container">
      <div class="music-content" id="mint-app">
        <h2 style="text-shadow: 3px 3px #000000;">
          MOONDAO & HAYRUL <br />
          # TO THE MOON <br />
          MINT FOR FREE
        </h2>
        <!-- <a href="https://hayrul-nft.s3.amazonaws.com/Hayrul-Tothemoon.mp4" class="expand-video">
          <i class="fa fa-play"></i>
        </a> -->
        <div class="btn-primary mint" :class="{loading: loading}" @click="mint" v-cloak
          style="text-shadow: 2px 2px #000000;">{{mintText}}</div>
      </div>
    </div>
  </div>

  <!-- slider area end -->


  <!-- music player start -->
  <div class="mpsec" style="z-index: 1;">
    <div class="moon-background-container">
      <img class="moon2" src="./assets/images/moonbg/moon2.png" alt="">

      <div>
        <div class="wrapper" id="player-app">
          <div class="player">
            <div class="player__top">
              <div class="player-cover">
                <div class="player-cover__item" :style="{ backgroundImage: `url(${currentTrack.cover})` }"></div>
              </div>
            </div>
            <div class="player-controls__item -xl js-play" @click="play">
              <svg class="icon1">
                <use xlink:href="#icon1-pause" v-if="isTimerPlaying"></use>
                <use xlink:href="#icon1-play" v-else></use>
              </svg>
            </div>
            <div class="progress1" ref="progress1">
              <div class="progress1__top">
                <div class="album-info" v-if="currentTrack">
                  <div class="album-info__name">{{ currentTrack.name }}</div>
                  <div class="album-info__track">{{ currentTrack.author }}</div>
                </div>
                <div class="progress1__duration">{{ duration }}</div>
              </div>
              <div class="progress1__bar" @click="clickprogress1">
                <div class="progress1__current" :style="{ width : barWidth }"></div>
              </div>
              <div class="progress1__time">{{ currentTime }}</div>
            </div>
            <div v-cloak></div>
          </div>

        </div>

        <svg xmlns="http://www.w3.org/2000/svg" hidden xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <symbol id="icon1-pause" viewBox="0 0 32 32">
              <title>icon1-pause</title>
              <path
                d="M16 0.32c-8.64 0-15.68 7.040-15.68 15.68s7.040 15.68 15.68 15.68 15.68-7.040 15.68-15.68-7.040-15.68-15.68-15.68zM16 29.216c-7.296 0-13.216-5.92-13.216-13.216s5.92-13.216 13.216-13.216 13.216 5.92 13.216 13.216-5.92 13.216-13.216 13.216z">
              </path>
              <path
                d="M16 32c-8.832 0-16-7.168-16-16s7.168-16 16-16 16 7.168 16 16-7.168 16-16 16zM16 0.672c-8.448 0-15.328 6.88-15.328 15.328s6.88 15.328 15.328 15.328c8.448 0 15.328-6.88 15.328-15.328s-6.88-15.328-15.328-15.328zM16 29.568c-7.488 0-13.568-6.080-13.568-13.568s6.080-13.568 13.568-13.568c7.488 0 13.568 6.080 13.568 13.568s-6.080 13.568-13.568 13.568zM16 3.104c-7.104 0-12.896 5.792-12.896 12.896s5.792 12.896 12.896 12.896c7.104 0 12.896-5.792 12.896-12.896s-5.792-12.896-12.896-12.896z">
              </path>
              <path
                d="M12.16 22.336v0c-0.896 0-1.6-0.704-1.6-1.6v-9.472c0-0.896 0.704-1.6 1.6-1.6v0c0.896 0 1.6 0.704 1.6 1.6v9.504c0 0.864-0.704 1.568-1.6 1.568z">
              </path>
              <path
                d="M19.84 22.336v0c-0.896 0-1.6-0.704-1.6-1.6v-9.472c0-0.896 0.704-1.6 1.6-1.6v0c0.896 0 1.6 0.704 1.6 1.6v9.504c0 0.864-0.704 1.568-1.6 1.568z">
              </path>
            </symbol>
            <symbol id="icon1-play" viewBox="0 0 32 32">
              <title>icon1-play</title>
              <path
                d="M21.216 15.168l-7.616-5.088c-0.672-0.416-1.504 0.032-1.504 0.832v10.176c0 0.8 0.896 1.248 1.504 0.832l7.616-5.088c0.576-0.416 0.576-1.248 0-1.664z">
              </path>
              <path
                d="M13.056 22.4c-0.224 0-0.416-0.064-0.608-0.16-0.448-0.224-0.704-0.672-0.704-1.152v-10.176c0-0.48 0.256-0.928 0.672-1.152s0.928-0.224 1.344 0.064l7.616 5.088c0.384 0.256 0.608 0.672 0.608 1.088s-0.224 0.864-0.608 1.088l-7.616 5.088c-0.192 0.16-0.448 0.224-0.704 0.224zM13.056 10.272c-0.096 0-0.224 0.032-0.32 0.064-0.224 0.128-0.352 0.32-0.352 0.576v10.176c0 0.256 0.128 0.48 0.352 0.576 0.224 0.128 0.448 0.096 0.64-0.032l7.616-5.088c0.192-0.128 0.288-0.32 0.288-0.544s-0.096-0.416-0.288-0.544l-7.584-5.088c-0.096-0.064-0.224-0.096-0.352-0.096z">
              </path>
              <path
                d="M16 0.32c-8.64 0-15.68 7.040-15.68 15.68s7.040 15.68 15.68 15.68 15.68-7.040 15.68-15.68-7.040-15.68-15.68-15.68zM16 29.216c-7.296 0-13.216-5.92-13.216-13.216s5.92-13.216 13.216-13.216 13.216 5.92 13.216 13.216-5.92 13.216-13.216 13.216z">
              </path>
              <path
                d="M16 32c-8.832 0-16-7.168-16-16s7.168-16 16-16 16 7.168 16 16-7.168 16-16 16zM16 0.672c-8.448 0-15.328 6.88-15.328 15.328s6.88 15.328 15.328 15.328c8.448 0 15.328-6.88 15.328-15.328s-6.88-15.328-15.328-15.328zM16 29.568c-7.488 0-13.568-6.080-13.568-13.568s6.080-13.568 13.568-13.568c7.488 0 13.568 6.080 13.568 13.568s-6.080 13.568-13.568 13.568zM16 3.104c-7.104 0-12.896 5.792-12.896 12.896s5.792 12.896 12.896 12.896c7.104 0 12.896-5.792 12.896-12.896s-5.792-12.896-12.896-12.896z">
              </path>
            </symbol>
          </defs>
        </svg>
      </div>

      <!-- <div class="stars"></div> -->
      <!-- <div class="twinkling"></div>
      <div class="clouds"></div> -->
    </div>



  </div>

  <!-- music player end -->



  <!-- upcooming-events area start -->
  <section class="upcooming-events bg_dark ptb--100" id="event" style="
        background: url(./assets/images/bg/moonbg.jpg) center no-repeat; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="upv-content">
            <h2>MoonDao</h2>
            <h3>Space should be in the hands of the people.</h3>
            <h4>
              We are sending MoonDAO members
              <span>to space!</span>
            </h4>
            <p>We've signed the contract with Blue Origin.</p>
            <a target="_blank" href="https://moondao.com/">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- upcooming-events area end -->



  <!-- abt-music area start -->
  <section class="abt-music-area" style="
        background: url( ./assets/images/slider/hayrul-bg-6.jpeg) top/cover no-repeat; " id="about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="abt-msc-content">
            <h2>About HAYRUL</h2>
            <h4>A Different Kind of music</h4>
            <p>
              Music genres: Boom bap and Jazz hiphop. Music style of Hayrul is
              mainly characterized by his sense of exotic and mixed clips of
              various folk muscial instruments.Good at absorbing a variety of
              music works with rich connotations, and with on-site
              explosiveness, strong infectiousness.
            </p>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <div class="msc-abt-right">
            <ul>
              <li>An independent musician from Yining, Xinjiang</li>
              <li>Owner-Principal of Night Harbor.</li>
              <li>
                Founder of the young and promising record label "Horse King"
              </li>
              <li>
                100k+ fans in NetEase Music, nearly 100 million plays in
                total.
              </li>
              <li>
                So far, there are 25 songs with 999+ comments in NetEase
                Music.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- abt-music area end -->


  <!-- footer area start -->
  <div class="footer-area ptb--50">
    <div class="container">
      <div class="footer-content">
        <p>Copyright &copy; 2022.MoonDAO</p>
        <ul>
          <li style="margin-top: 10px">
            <a href="https://discord.gg/5nAu7K9aES" target="_blank"><img class="img-fluid"
                src="./assets/images/icon/discordbutton.svg" alt="img" /></a>
          </li>
          <li style="margin-top: 10px">
            <a href="https://twitter.com/OfficialMoonDAO" target="_blank"><img class="img-fluid"
                src="./assets/images/icon/twitter.svg" alt="img" /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- footer area end -->

  <!-- jquery latest version -->
  <script src="./assets/js/vendor/jquery-2.2.4.min.js"></script>
  <!-- bootstrap 4 js -->
  <script src="./assets/js/bootstrap.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
  <!-- others plugins -->
  <script src="./assets/js/jquery.slicknav.min.js"></script>
  <script src="./assets/js/counterup.min.js"></script>
  <script src="./assets/js/waypoints.js"></script>
  <script src="./assets/js/imagesloaded.pkgd.min.js"></script>
  <script src="./assets/js/isotope.pkgd.min.js"></script>
  <script src="./assets/js/jquery.magnific-popup.min.js"></script>
  <script src="./assets/js/countdown.js"></script>
  <script src="./assets/js/swiper.min.js"></script>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/jquery.zoomslider.min.js"></script>
  <script src="./assets/js/jquery.firefly.js"></script>
  <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" charset="utf-8" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/merkletreejs@latest/merkletree.js"></script>
  <script src="./assets/js/abi.js"></script>
  <script src="./assets/js/config.js"></script>
  <!-- google map -->
  <!---<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBO_5h890WNShs_YLGivCBfs2U89qXR-7Y&callback=initMap"></script>--->
  <script src="./assets/js/scripts.js"></script>
  <script src="./assets/js/index.js"></script>
  <script src="./assets/js/vidbg.min.js"></script>
  <script type="text/javascript">
    var instance = new vidbg(
      ".mpsec",
      {
        mp4: "./assets/images/bg/starbg.mp4", // URL or relative path to MP4 video
        webm: "./assets/images/bg/starbg.webm", // URL or relative path to webm video
        poster: "./assets/images/bg/starbg.gif", // URL or relative path to fallback image
        overlay: false, // Boolean to display the overlay or not
        overlayColor: '#000', // The overlay color as a HEX
        overlayAlpha: 0.3, // The overlay alpha. Think of this as the last integer in RGBA()
      },
      {
        // Attributes
      }
    );



  </script>
</body>

</html>
